name: Deploy to GitHub Pages

on:
  push:
    branches:
    - hexo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: npm
    - name: Install Dependencies
      run: |
        npm ci
    - name: Configuration
      run: |
        git config --global user.name "Mudkip"
        git config --global user.email "i@mudkip.me"
        sed -i "s/__GITHUB_TOKEN__/${{ secrets.GITHUB_PERSONAL_TOKEN }}/" _config.yml
    - name: Deploy
      run: |
        npm run deploy
